/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navBarItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  background-color: #ff9f1c;
  border-bottom: 0px;
  border-right: 0px;
}
.navBarItems a:hover {
  background-color: #2EC4B6;
}
@media (max-width: 650px) {
  .navBarItems {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    width: 100%;
    border-bottom: 2px solid #011627;
    border-bottom: 0px;
    border-right: 0px;
  }
}
a {
  text-decoration: none;
  padding: 20px;
  color: #011627;
  border-bottom: 0px;
  border-right: 0px;
}
@media (max-width: 650px) {
  a {
    border-bottom: 0px;
    border-right: 0px;
    padding: 5px;
  }
}
footer {
  background-color: #E71d36;
  text-align: center;
}
footer .footerImg {
  width: 3%;
}
body {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
.topSection {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.topSection .leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 48%;
  padding: 30px;
  line-height: 5em;
}
@media (max-width: 500px) {
  .topSection .leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    width: 80%;
  }
}
.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.topSection .rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
@media (max-width: 500px) {
  .topSection .rightColumn {
    display: none;
  }
}
.appIcons {
  width: 60%;
  margin-bottom: 10px;
}
.midSection {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
}
@media (max-width: 500px) {
  .midSection {
    display: flex;
    flex-direction: column;
  }
}
.midSection p {
  padding: 4rem;
}
.midSection img {
  padding: 5rem;
}
@media (max-width: 800px) {
  .midSection img {
    display: none;
  }
}
.midSectionButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.midSectionLogIn {
  border-radius: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
.midSectionLogIn a {
  width: 60%;
  background-color: #2EC4B6;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
.midSectionLogIn p {
  font-size: 2rem;
}
.midSectionSignUp {
  border-radius: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
.midSectionSignUp a {
  width: 60%;
  background-color: #ff9f1c;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
.midSectionSignUp p {
  font-size: 2rem;
}
.aboutBody {
  background-image: linear-gradient(to left, #2EC4B6, #fdfffc);
}
h1 {
  text-align: center;
}
.topAboutImage img {
  width: 100%;
  opacity: 1;
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  .topAboutImage img {
    display: none;
  }
}
.aboutMainSection {
  display: flex;
  justify-content: space-around;
  align-items: top;
  padding: 40px;
}
@media (max-width: 800px) {
  .aboutMainSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
}
.aboutMainSection .aboutMainLeftColumn {
  padding-right: 10px;
  width: 30%;
}
@media (max-width: 500px) {
  .aboutMainSection .aboutMainLeftColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}
.aboutMainSection .aboutMainLeftColumn .aboutMainImageGraph1 {
  padding-top: 9rem;
}
@media (max-width: 800px) {
  .aboutMainSection .aboutMainLeftColumn .aboutMainImageGraph1 {
    display: none;
  }
}
.aboutMainSection .aboutMainLeftColumn .aboutMainImageGraph2 {
  padding-top: 9rem;
}
@media (max-width: 800px) {
  .aboutMainSection .aboutMainLeftColumn .aboutMainImageGraph2 {
    display: none;
  }
}
.aboutMainSection .aboutMainRightColumn {
  text-align: right;
  padding-left: 5rem;
  padding-top: 40px;
  width: 60%;
}
@media (max-width: 500px) {
  .aboutMainSection .aboutMainRightColumn {
    width: 48%;
  }
}
@media (max-width: 800px) {
  .aboutMainSection .aboutMainRightColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
    padding-top: 2rem;
    padding-left: 0rem;
    align-items: center;
  }
}
.aboutMainSection .aboutMainRightColumn p {
  padding-bottom: 5rem;
}
.aboutMainSection .aboutMainRightColumn .aboutAppButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .aboutMainSection .aboutMainRightColumn .aboutAppButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 48%;
  }
}
.aboutMainSection .aboutMainRightColumn .aboutAppButtons img {
  padding-right: 40px;
  width: 40%;
}
@media (max-width: 500px) {
  .aboutMainSection .aboutMainRightColumn .aboutAppButtons img {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
}
.meetTheTeam {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 768px) {
  .meetTheTeam {
    padding: 3% 15%;
  }
}
.meetTheTeam h1 {
  margin-bottom: 30px;
}
.aboutBody {
  max-width: 1080px;
  margin: 0 auto;
}
.homeBody {
  background-image: linear-gradient(to left, #2EC4B6, #fdfffc);
  max-width: 1080px;
  margin: 0 auto;
}
.contactTopImage {
  position: relative;
  text-align: center;
  color: #011627;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
}
.contactTopImage .contactH1Questions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contactMain {
  display: flex;
}
.submit {
  width: 13rem;
  padding: 1rem;
  background-color: #011627;
  color: #E71d36;
  text-align: center;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  line-height: 4rem;
}
.contactInfo {
  padding: 40px;
  padding-top: 100px;
}
@media (max-width: 500px) {
  .contactInfo {
    padding: 0px;
    text-align: center;
  }
}
.contactMain {
  padding: 40px;
}
@media (max-width: 500px) {
  .contactMain {
    display: flex;
    flex-direction: column;
  }
}
